.about {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 79.5px;
    justify-content: center;
    align-items: center;
}

.about h1 {
    font-size: 5rem;
    margin-bottom: 5px;
}


/*
.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 90px;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.about-text {
    max-width: 70%;
}

.about-text p {
    color: black;
    font-size: 35px;
}

.about-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
    */